<!doctype html>
<title>CMPE 226 Final Project</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/animation.css') }}">

<!-- <link rel="icon" href="data:;base64,iVBORw0KGgo="> -->
<!-- <link rel="shortcut icon" href="https://s3.amazonaws.com/django-blog/ico/favicon_v2.ico"> -->
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<div class="page col-md-10 col-md-offset-1">
  <h1>CMPE 226 Final Project</h1>
  <div class="metanav">
    <div class="row">
      <form role="form" method="POST" action="{{ url_for('search_text') }}">
        <input type="text" name="search" placeholder="Search text" class="form-control search_bar" id="search_bar">
        <button class="btn btn-primary btn-md search_button" id="search_button" type="submit">Search</button>
      </form>
    {% if not session.logged_in %}
      <a href="{{ url_for('login') }}">log in</a>
    {% else %}
      <a href="{{ url_for('logout') }}">log out</a>
    {% endif %}
    </div>
  </div>
  {% for message in get_flashed_messages() %}
    <!-- <div class="flash"></div> -->
    <div class="alert alert-success" role="alert">
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
      {{ message }}
    </div>
  {% endfor %}
  {% block body %}{% endblock %}
  <script type=text/javascript src="{{url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/bootstrap-select.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/helper.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>

</div>
