{% extends "layout.html" %}
{% block body %}
{% include "forms/calendar_form.html" %}
  <div class="question-table">
  <table class="table table-striped">
    <thead>
      <th>User</th>
      <th>Question</th>
      <th>Date</th>
    </thead>
    <tbody>
      {% for entry in entries %}
      <tr>
        <form role="form" method="GET" action="{{ url_for('show_question',question_id=entry[3]) }}">
            <td>{{ entry[0] }}</td>
            <!-- <td class="question_body_row col-md-4"><input type="submit" value="{{ entry[1] }}"></input></td> -->
            <td class="question_body_row"><input type="submit" value="{{ entry[1] }}"></input></td>
            <!-- <td class="question_body_row col-md-4">{{ entry[1] }}</td> -->
            <td class="col-md-2">{{ entry[2] }}</td>
        </form>
      </tr>
      {% else %}
        <div><em>Unbelievable. No entries here so far</em></div>
      {% endfor %}
    </tbody>
  </table>

  </div>
{% endblock %}
