{% extends "slice.html" %}
{% block body %}
  <div class="question-table">
  <table class="table table-striped">
    <thead>
      <th>Tag</th>
      <th>Username</th>
      <th>Year</th>
      <th><Count/th>
    </thead>
    <tbody>
      {% for entry in slices %}
      <tr>
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1] }}</td>
            <td>{{ entry[2] }}</td>
            <td>{{ entry[3] }}</td>
        </form>
      </tr>
      {% else %}
        <div><em>Unbelievable. No entries here so far</em></div>
      {% endfor %}
    </tbody>
  </table>

  </div>
{% endblock %}
