<div class="row button-row">
  <button class="btn btn-primary" id="toggle-answer-area">Reply</button>
</div>
<form action="{{ url_for('add_answer') }}" method="post" class="add-answer col-sm-6">
  <div class="form-group">
    <label for="question-input">Answer:</label>
    <textarea class="form-control" name="answer" id="question-input" rows="5"></textarea>
  </div>
  <input type="hidden" name="question_id" value="{{question[2]}}" />
  <div class="form-group">
    <input type="submit" class="btn btn-success"></input>
  </div>
</form>
